@font-face {
  font-family: "Kamerik";
  font-weight: 900;
  src: url("../fonts/kamerik205-heavy.woff2");
}

@font-face {
  font-family: "Merriweather";
  src: url("../fonts/merriweather-regular-italic.woff2");
}